<plugin name='risk-analytics-application' version='1.0.2' grailsVersion='1.2.0 &gt; *'>
  <author>Intuitive Collaboration AG</author>
  <authorEmail>info@pillarone.org</authorEmail>
  <title>RiskAnalytics application</title>
  <description>\
ULC view
</description>
  <documentation>http://www.pillarone.org</documentation>
  <resources>
    <resource>ApplicationBootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='ulc' version='2008 &gt; *' />
    <plugin name='jasper' version='0.9.5-riskanalytics' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenLocal' />
      <resolver type='mavenCentral' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>