<plugin name='risk-analytics-application' version='1.4-BETA-3' grailsVersion='1.3.7 &gt; *'>
  <author>Intuitive Collaboration AG</author>
  <authorEmail>info@pillarone.org</authorEmail>
  <title>RiskAnalytics application</title>
  <description>\
ULC view
</description>
  <documentation>http://www.pillarone.org</documentation>
  <resources>
    <resource>ApplicationBootStrap</resource>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>org.pillarone.riskanalytics.application.output.structure.ResultStructureDAO</resource>
    <resource>org.pillarone.riskanalytics.application.output.structure.StructureMapping</resource>
    <resource>BatchRunJob</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>