<plugin name='risk-analytics-application' version='1.2-kti' grailsVersion='1.3.4 &gt; *'>
  <author>Intuitive Collaboration AG</author>
  <authorEmail>info@pillarone.org</authorEmail>
  <title>RiskAnalytics application</title>
  <description>\
ULC view
</description>
  <documentation>http://www.pillarone.org</documentation>
  <resources>
    <resource>ApplicationBootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>org.pillarone.riskanalytics.application.output.structure.ResultStructureDAO</resource>
    <resource>org.pillarone.riskanalytics.application.output.structure.StructureMapping</resource>
  </resources>
  <dependencies>
    <plugin name='ulc' version='2008 &gt; *' />
    <plugin name='jasper' version='0.9.5-riskanalytics' />
  </dependencies>
  <behavior />
</plugin>